<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #wrap{width:1000px;margin:0 auto;background:#123}
        header{width:1000px;height:100px;background:#456}
        nav{width:1000px;height:100px;background:#789}
        aside{width:300px;height:500px;float:left;background:#eee}
        section{width:700px;height:500px;float:left;background:#333}
        footer{width:1000px;height:100px;clear:both;background:#666}
    </style>
</head>
<body>
    <div id="wrap">
        <header>header</header>
        <nav>nav</nav>
        <aside>aside</aside>
        <section>section</section>
        <footer>footer</footer>
    </div>
</body>
</html>