/*skip menu*/
#skip{position: relative}
#skip a{position: absolute;left: 0;top: -100px;width: 140px;line-height: 30px;border: 1px solid #fff;color: #fff;text-align: center;background: #333}
#skip a:active,
#skip a:focus{top: 0;}

/*레이아웃*/
#m_gnb_wrap{display: none}
#header{width:100%; background:#fff; border-bottom: 1px solid #c6c6c6;margin-top:20px}

/*가운데 영역*/
.container{width:1280px;margin: 0 auto}

/*헤더 영역*/
.header clearfix{position: relative;width:auto;}
.header h1{float: left;margin-right: 80px}
.header h1 a{display: block;width: 306px;height: 79px}
.header img{width:306px;}
.header .btn_gnb{display: none}

.header .search_wrap{float: left;background: #b70000;width:45%;height:44px;margin-top: 21px;margin-right: 100px}
.header .search_field{}
.header .txt_search{background: #fff;width: 88%;height: 20px;font-size: 15px;padding: 10px;margin:2px 2px 0 2px}
.header .search_field .btn{width:35px;height: 35px;background: url(../img/search_icon.png) no-repeat;background-size:cover;text-indent: -9999px;}


.header .utill_list li{float: left;padding-top: 33px;font-size: 15px;margin-top: 20px}
.header .utill_list .util_01{background: url(../img/login_icon.png) no-repeat center top;margin-right: 20px}
.header .utill_list .util_01 a, .header .utill_list .util_02 a{padding-top: 33px}
.header .utill_list .util_02{background: url(../img/sign_in_icon.png) no-repeat center top}

.header .pc_gnb{clear: both;width: 100%;}
.header .pc_gnb li{float: left;background:#b70000;width: 20%;height:58px}

.header .m_gnb_wrap{display: none}